<div class="question-card" style="margin-top: 30px;" *ngIf="question">
  <h2>{{ question.title }}</h2>
  <p>Asked On: <b>{{ question.createdDate | date: 'EEEE, MMMM d, y' }}</b> by <b>{{ question.username }}</b>
  </p>
  <div class="question-body">
    <p>Body: {{ question.body }}</p>
    <div class="tag-list">
      <mat-chip-listbox>
        <mat-chip *ngFor="let tag of question.tags" color="primary">{{ tag }}</mat-chip>
      </mat-chip-listbox>
    </div>
  </div>
</div>

<!-- ////////////////////////// View Answer HTML -->

<div *ngFor="let answer of answers; let i = index;" class="answer-card" style="margin-top: 30px;">
  <h2>Answers</h2>
  <div>
    <div>
      <h5>Answerd by: <b>{{ answer.username }}</b> - Answered on:
        <b>{{ answer.createdDate | date: 'MMM d, y, h:mm a' }}</b>
      </h5>
      <p>{{ answer.body }}</p>
    </div>
  </div>
</div>

<!-- ////////////////////////// Post Answer HTML -->

<div class="answer-section" style="margin-top: 30px;">
  <div>
    <div>
      <h2>Post Answer</h2>
    </div>
    <form [formGroup]="validateForm" (ngSubmit)="addAnswer()">
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Subject</mat-label>
          <textarea matInput rows="2" placeholder="Solution...." formControlName="body"></textarea>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary">Post Your Answer</button>
    </form>
  </div>
</div>
